<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    <script src="braintree-client.js"></script>
    <script src="braintree-hosted-fields.js"></script>
    <script src="braintree-hosted-fields-bootstrap.js"></script>

    <title>UPSC Eligibility · Notify Me</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/sendmail2442">Notify Me</a>
                </li>
    </nav>
    <br>
    <br>
    <p class="mx-5 text-center">
        Apply here and our team will send you an E-mail when the notification of the next course/exam goes live
    </p>
    
    <div class="container">
        <form action="/sendmailadded" method='POST'>
            <div class="row">
                <div class="form-group col-xl-5 px-5 mx-auto">
                    <select class="form-select mt-5" name="exam2442" id="exam_id2442" aria-label="Default select example">
                        <option selected>Select Your Exam</option>
                        <option value="National Defence Academy">National Defence Academy</option>
                        <option value="Combined Defence Services Examination">Combined Defence Services Examination</option>
                        <option value="AFCAT">AFCAT</option>
                        <!-- <option value="Civil Services Examination" disabled>Civil Services Examination</option> -->
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-5 px-5 mx-auto">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label mt-4">Enter your E-mail Id</label>
                        <input type="email" class="form-control" id="email2442_id" name="email2442">
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="form-group col-xl-5 px-5 mx-auto">
                    <input type="submit" value="Notify Me!" class="btn btn-success" />
                    <br />
                </div>
</script>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" 
integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" 
integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" 
crossorigin="anonymous">
</script>
-->
</body>

</html>
